<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>版面理解服务 - 数字出版技术国家重点实验室</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
  <!-- CSS Libs -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrap.min.css' %}">
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'lib/css/font-awesome.min.css"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'lib/fontawesome/css/all.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/css/animate.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrap-switch.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/css/checkbox3.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/css/jquery.dataTables.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/css/dataTables.bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/css/select2.min.css' %}">
  <!-- CSS App -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/css/themes/flat-green.css' %}">
  <!-- Animation CSS-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/animation_css/animate.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/animation_css/main.css' %}">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">


</head>

<body class="flat-green" style =" overflow-y: auto; overflow-x: auto;">


<div id="loading" style = "width:0%; height: 0%; display: block"  >
  <div id="loading-center" style = "width:100%; height: 100%; " >
    <div style ="padding-top: 20%; width:100%">
   <!--    <p id ='loading_flag'style ="width: 20rem; margin-right: auto; margin-left: auto;position: middle; font-size: 5rem" hidden>正在识别。。。</p> -->
    </div>
    <div id="loading-center-absolute" style = "width:100%; height: 100%">
      <div class="object" id="object_one"></div>
      <div class="object" id="object_two"></div>
      <div class="object" id="object_three"></div>
      <div class="object" id="object_four"></div>
      <div class="object" id="object_five"></div>
      <div class="object" id="object_six"></div>
      <div class="object" id="object_seven"></div>
      <div class="object" id="object_eight"></div>
    </div>
  </div>
</div>



  <div class="app-container">
    <div class="row content-container">
      <nav class="navbar navbar-default navbar-fixed-top navbar-top" style='height: 60px'>
        <div class="container-fluid" style='height: 60px'>
          <div class="navbar-header">
            <button type="button" class="navbar-expand-toggle">
              <i class="fa fa-bars icon"></i>
            </button>
            <ol class="breadcrumb navbar-breadcrumb">
              <li class="active"><i class="fa fa-globe"></i> 数字出版技术国家重点实验室</li>
            </ol>
            <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
              <i class="fa fa-th icon"></i>
            </button>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
              <i class="fa fa-times icon"></i>
            </button>
            <li>
              <a href="#">首页</a>
            </li>
            <li>
                <a href="#">文档整理</a>
            </li>
            <li class="dropdown danger">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">其他服务</a>
              <ul class="dropdown-menu danger  animated fadeInDown">
                <li>
                  <ul class="list-group notifications">
                    <a href="#">
                      <li class="list-group-item" onclick="window.location.href = '{% static 'knowledge_service/page.html'">
                         <i class="fa fa-mortar-board"></i> 知识服务
                      </li>
                    </a>
                    <a href="#">
                      <li class="list-group-item">
                         <i class="fa fa-pencil-square-o"></i> 机器写作
                      </li>
                    </a>
                    <a href="http://www.founder.com/" target="blank">
                      <li class="list-group-item message">
                        方正集团
                      </li>
                    </a>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="dropdown profile">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">我的账户<span class="caret"></span></a>
              <ul class="dropdown-menu animated fadeInDown">
                <li class="profile-img">
                  <!-- <img src="{% static 'assets/img/profile/picjumbo.com_HNCK4153_resize.jpg" class="profile-img"> -->
                  <img src="http://st.cdjapan.co.jp/pictures/l/14/08/KIXA-290.jpg?v=1" style="width :50%">
                </li>
                {% if user.account_type != 'guest' %}
                <li>
                  <div class="profile-info">
                    <h4 class="username">{{user.username}}</h4>
                    <p>{{user.email}}</p>
                    <div class="btn-group margin-bottom-2x" role="group">
                      <button type="button" class="btn btn-default" onclick="window.location.href='/user/user_homepage/'"><i class="fa fa-user"></i>主页</button>
                      <!-- <button type="button" class="btn btn-default"><i class="fa fa-sign-out"></i> Logout</button> -->
                      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#logoutModel">注销</button>
                    </div>
                  </div>
                </li>
                {% endif %}

                {% if user.account_type == 'guest' %}
                <li>
                  <div class="profile-info">
                    <h4 class="username">Hello, Guest User</h4>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#logoutModel">注销</button>
                    <a href="/user/register/"><button type="button" class="btn btn-primary">注册</button></a>
                  </div>
                </li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </div>
      </nav>




      
      <div class="side-menu sidebar-inverse">
        <nav class="navbar navbar-default" role="navigation">
          <div class="side-menu-container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">
                <div class="icon fa fa-newspaper-o"></div>
                <div class="title">版面理解</div>
              </a>
              <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                <i class="fa fa-times icon"></i>
              </button>
            </div>
            <div>
            <ul class="nav navbar-nav " >
              <li>
                <a id='to_my_file' href= "/user/show_my_file/">
                  <span class="icon fa fa-copy "></span>
                  <span class='title'>文件管理</span>
                </a>
              </li>
              {% if user.account_type != 'guest' %}
              <li>
                <a id='file_management' href= "/user/group_management/">
                  <span class="icon fa fas fa-users "></span>
                  <span class='title'>分组管理</span>
                </a>
              </li>
              {% endif %}

            </ul>
          </div>
    
        {% block side_menu %}
        {% endblock %}
          </div>
          <!-- /.navbar-collapse -->
        </nav>
      </div>
      <!-- Main Content -->
      <div class="container-fluid">

        {% block content %}
        {% endblock %}

    </div>
  </div>
</div>



<!-- 注销 -->
  <div class="modal fade" id="logoutModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title" id="myModalLabel">
          
          </h4>
        </div>
        <div class="modal-body">
          确认注销账户？
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick='window.location.href = "/user/login/"'>
            确认注销
          </button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            取消
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- 账户管理 -->
  <div class="modal fade" id="logoutModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title" id="myModalLabel">
          
          </h4>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            确认注销
          </button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            取消
          </button>
        </div>
      </div>
    </div>
  </div>




  {% block modals %}
  {% endblock %}
    
      <!-- Javascript Libs -->
      <script type="text/javascript" src="{% static 'lib/js/jquery.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'lib/js/bootstrap.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'lib/js/Chart.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'lib/js/bootstrap-switch.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'lib/js/jquery.matchHeight-min.js' %}"></script>
      <script type="text/javascript" src="{% static 'lib/js/jquery.dataTables.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'lib/js/dataTables.bootstrap.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'lib/js/select2.full.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'lib/js/ace/ace.js' %}"></script>
      <script type="text/javascript" src="{% static 'lib/js/ace/mode-html.js' %}"></script>
      <script type="text/javascript" src="{% static 'lib/js/ace/theme-github.js' %}"></script>
      <!-- Javascript -->
      <script type="text/javascript" src="{% static 'javascript/app.js' %}"></script>
      <script type="text/javascript" src="{% static 'javascript/index.js' %}"></script>
      <script type="text/javascript" src="{% static 'javascript/jquery-3.3.1.js' %}"></script>
      <script type="text/javascript" src ="{% static 'javascript/vue.js' %}"></script>
      <script type="text/javascript" src ="{% static 'javascript/draw_min.js' %}"></script>
      <script type="text/javascript" src ="{% static 'javascript/upload_file.js' %}"></script>
      <script type="text/javascript" src ="{% static 'javascript/group_management.js' %}"></script>
      <script type="text/javascript" src ="{% static 'javascript/file_management.js' %}"></script>
      <script type="text/javascript" src ="{% static 'javascript/common_functions.js' %}"></script>
     <!--  <script type="text/javascript" src ="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
      <script type="text/javascript" src ="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script> -->
  {% block scripts %}
  {% endblock %}

</body>

</html>
