<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V18</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
{% load widget_tweaks %}
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static '/login/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/login/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static '/login/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/login/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/login/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static '/login/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/login/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100" style = "">
				<form class="login100-form validate-form" role="form" action="/user/login/" method="POST" novalidate="NOVALIDATE" style="width: ">
					{% csrf_token %}
					<span class="login100-form-title p-b-43">
						请登录:
					</span>
					
					
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<!-- <input class="input100" type="text" name="email"> -->
						<!-- <label for="username">用户名</label> -->
						{{ form.username | add_class:'input100'}}  
						<!-- <span style="color: red">{{ form.username.errors }}</span> -->
						<span class="focus-input100"></span>
						<span class="label-input100">Username</span>
						<span id='username_err' style="color: red" class="label-input100" >{{ form.username.errors }}</span>
					</div>
						
					
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<!-- <input class="input100" type="password" name="pass"> -->
						<!-- <label for="password">密码</label> -->
						{{ form.password | add_class:'input100'}}
						<!-- <button onclick='xx()'>aaa</button> -->
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
						<span id='password_err' style="color: red">{{ form.password.errors}}</span>
					</div>
			
					<div class="container-login100-form-btn">
				<!-- 		<button class="login100-form-btn">
							Login
						</button> -->
						<input type="submit" class="login100-form-btn" value="登录"/>
					</div>
					
					<div class="text-center p-t-46 p-b-20">
						<!-- <span class="txt2">
							or sign up using
						</span> -->
					</div>

					<div class="login100-form-social flex-c-m">
						<a href="{% static '#" class="login100-form-social-item flex-c-m bg1 m-r-5">
							<i class="fa fa-key" aria-hidden="true"></i> 
						</a>忘记密码
						<span style="width: 50px">        </span>
						<a href="/user/register/" class="login100-form-social-item flex-c-m bg2 m-r-5">
							<!-- <i class="fa fa-register" aria-hidden="true"></i> -->
							<i class="fas fa fa-sign-in" aria-hidden="true"></i> 
						</a>注册
					</div>
				</form>


				{% for img_url in login_img_urls%}
				<div id = {{img_url}} class="login100-more" style="background-image: url('{% static img_url %}' ); " >
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	
	
<!--===============================================================================================-->
	<script src ="{% static '/login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src ="{% static '/login/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src ="{% static '/login/vendor/bootstrap/js/popper.js' %}"></script>
	<script src ="{% static '/login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src ="{% static '/login/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src ="{% static '/login/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src ="{% static '/login/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src ="{% static '/login/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src ="{% static '/login/js/main.js' %}"></script>

	<script type="text/javascript">
	$(document).ready(
		function(){
			
		}
	)

	count = 1
	l = $('.login100-more').length
	function funcx(){
		for(var i = 0; i < l; i++){
			if( i != count % l){
				$('.login100-more').eq(i).hide()
			}
		}
		$('.login100-more').eq(count % l).show(1000);
		count = count +1;

   // your code here
   // break out here if needed
   setTimeout(funcx, 5000);
   }

funcx();
	</script>

</body>
</html>